* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: 0;

}
.container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px auto;
}
.login-section {
  width:45%;
}
.login-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.logo {
  margin-bottom: 10px;
  color: #820682;

}
form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  background-color: #F6E7E1;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-radius: 50px ;

}
.input {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px;
  flex-direction: column;
}
label {
 margin: 3px 0;
}
input {
  width: 200px;
  height: 20px;
  border:none;
  padding: 10px;
  background-color: #e5e5e5;
}
button {
  width:220px;
  height: 40px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 10px 0;
  background-color: #299AFB;
  color:#fff;
  border: none;
  font-size: 19px;
  border-radius: 7px;
}
a{
  margin: 25px;
 color: #299AFB;

}
/*  Media query */
@media (max-width:768px){
  .container {
    width:100%;
  }
  .login-section {
    width:80%;
  }
  form {
    height: 100%;
    margin-top: 10px;
  }
  .container{
    margin:10px auto;
  }
  button{
    height:30px;
    font-size: 17px;
  }
}